.menu {
  &__toggle {
    opacity: 0;
  }

  &__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: relative;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0d1a74;
    transition: all 0.3s;
  }
  &__btn > span::before {
    content: '';
    top: -8px;
  }
  &__btn > span::after {
    content: '';
    top: 8px;
  }

  &__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 291px;
    height: 100%;
    margin: 0;
    list-style: none;
    text-align: start;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  &__logo {
    margin: 14px 0 47px 23px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    
    &::after {
      display: block;
      position: relative;
      top: 25px;
      content: "";
      width: 100%;
      height: 2px;
      background-color: gray;
    }
  }
  &__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      background-color: #CFD8DC;
    }
  }
 
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}