.button {
  width: 210px;
  height: 39px;

  background-color: #ef5b4b;
  color: white;

  border: none;
  border-radius: 4px;
  outline-style: none;
  cursor: pointer;

  font-family: "Open Sana",sans-serif;
  font-size: 17px;
  font-weight: 600;
  
  transition: 0.3s;

  &:disabled {
    background-color: gray;

    &:hover {
      cursor: not-allowed;
      background-color: gray;
    }
  }

  &:hover {
    background-color: rgb(235, 38, 38);
  }
}