.footer {
  width: 100%;
  &__container {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  &__title {
    margin: 150px 0 18px;

    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;

    color: #212529;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    color: #4c4b4b;

    margin-bottom: 96px;
  }

  &__info {
    &::before {
      content: "";
      display: block;
      width: 100%;
      position: relative;
      border-top: 2px solid #b2b9c0;
      margin-bottom: 25px;
    }

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #b2b9c0;

    margin-bottom: 19px;
  }

  &__notification {
    position: relative;
    bottom: 50%;
  }
}

@media(max-width: 360px) {
  .footer {
   &__title {
     margin: 15px;
   }
  }
}