.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 10px;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #6b6e70;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #ef5b4b;
    }

    &-active {
      color: #007bff;
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}